target
*.iml
*.ipr
*.iws
*.ids
/out/
/data/
/import/
data-test/
/qdp-core/
/customization/
/bpm/
/querydesigner/
/appobjconfigurator/
/addon/
.idea
.gradle
gradle.bat
build
classes
atlassian-ide-plugin.xml
db_diff.xml
version.properties
/local/
*.log
/indexes
*.temp
/build/
*.classpath
*.project
*.settings/

/gwt-unitCache/
/war/
